@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;
    font-size: 18px;
}

.input-screen, .login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-uol{
    width: 130px;
    height: 92px;
    margin-bottom: 94px;
    margin-top: 15vh;
}

.login span{
    padding-top: 15px;
    font-weight: 500;
    font-size: 18px;
}

.login input{
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
    color: #AEAEAE;
    margin-bottom: 15px;
}

.login input::placeholder{
    opacity: 0.5;
}

.login button{
    width: 109px;
    height: 45px;
    align-items: center;
    border: none;
    background: #ec373c;
    border-radius: 9px;
    color: #e4e4e4;
}

.login button:disabled{
    background: #E7E7E7;
    color: #696969;
    cursor: auto;   
}


/****  Estilização do chat  ****/
header, footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 22px;
    position: fixed;
    left: 0;
    z-index: 2;
    background-color: #FFFFFF;
}

header{
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

footer{
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar{
    display: none;
}

header ion-icon{
    font-size: 45px;
}

header button, footer button{
    background-color: rgb(255, 255, 255, 1);
    border: none;
}

footer ion-icon{
    font-size: 25px;
}

footer input{
    resize: none;
    color: #000000;
    opacity: 1;
    width: 90%;
}


/**** Mensagens no chat ****/
.conversation{
    position: relative;
    top: 80px;
    padding-top: 25px;
    padding-bottom: 80px;
    background-color: #f9f9f9;
    width: 100%;
}

.msg{
    border-radius: 2px;
    padding: 12px 5px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    word-break: break-word;
}

.status{
    background-color: #DCDCDC;
}

.message{
    background-color: #FFFFFF;
}

.private_message{
    background-color: #FFDEDE;
}

.time{
    color: #AAAAAA;
    padding: 2px;
}


/**** Estilização da barra de participantes ****/
@keyframes menu-lateral{
    from {
        left: 100vw;
    }
    to {
        left: 0vw;
    }
}

@keyframes esconder-menu{
    from {
        left: 0vw;
    }
    to {
        left: 100vw;
    }
}

.nav, .display-hide{
    display: flex;
    position: fixed;
    top: 0;
    /*left: 0vw;*/
    z-index: 5;
    height: 101vh;
    width: 100vw;
    animation-duration: 1s;
}

.nav{
    animation-name: menu-lateral;
}

.display-hide{
    left: 100vw;
    animation-name: esconder-menu;
}

.dark{
    width: 35%;
    background-color: rgba(0, 0, 0, .6);
}

.conteudo{
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.conteudo ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    padding: 0 10px;
    font-size: 16px;
}

.conteudo ul ion-icon{
    padding-right: 5px;
}

.conteudo ul{
    min-height: 120px;
    max-height: 220px;
    overflow: auto;
}

.conteudo .info{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    padding: 0 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}


/**** Seleção do participante ****/
ul li ion-icon:last-child{
    display: none;
}

.selecionado ion-icon:last-child{
    display: flex;
    position: relative;
    right:0; 
    color: #28BB25;
    font-size: 15px;
    font-weight: 900;
}

.reservado input{
    height: 30px;
}

.reservado input::placeholder{
    color: #000000;
}

.reservado span{
    color: #a1a0a0;
    font-size: 15px;
}